@charset "utf-8";

/* 変数 */
// フォント
$font-sans: 'hiragino-sans-gb', sans-serif;
$font-serif: 'hiragino-mincho-pron-w3', serif;
$font-default: $font-sans;

// ベーシックカラー
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray1: #1D1D1D;
$color-gray2: #b8b8b8;
$color-gray3: #797979;
$color-gray4: #f9f9f9;
$color-gray5: #d3d3de;
$color-gray6: #8f8f8f;
$color-blue1: #173b63;
$color-blue2: #54a8e5;
$color-red: #ef3623;
$color-transparent: transparent;

// テーマカラー
$color-section-title: $color-black;
$color-menu: $color-gray1;
$color-menu-white: $color-white;
$color-header: $color-gray2;

// レスポンシブな文字サイズ
// $fontsize : デザイン上の文字サイズ
// $designwidth : デザインのウィンドウ幅
@mixin vwfont($fontsize, $designwidth: 375px) {
	font-size: ($fontsize / $designwidth) * 100vw;
}

// $size : 文字サイズ
// $font-size : サイトのbodyに指定した文字サイズ
@mixin fontsize($size: $font-size) {
	font-size: ($size / 16px) * 1rem;
}

// variable definition
/* mediaquery
************************************/
$bp-m : 768px;

@mixin media($size) {
	@if $size == m {
		@media only screen and ( max-width: $bp-m ) {
			@content;
		}
	} @else {
		@media only screen and ( max-width: $size ) {
			@content;
		}
	}
}

@mixin flex-center {
    @include display-flex();
    @include align-items-center();
    @include justify-content-center();
}

@mixin flex-center-v {
    @include display-flex();
    @include align-items-center();
}

@mixin display-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin align-items-center {
    @include align-items(center);
}

@mixin align-items-flex-start {
    @include align-items(flex-start);
}

@mixin align-items($v) {
    -webkit-box-align: $v;
    -webkit-flex-align: $v;
    -ms-flex-align: $v;
    -webkit-align-items: $v;
    align-items: $v;
}

@mixin justify-content-center {
    @include justify-content(center);
}

@mixin justify-content-space-evenly {
    @include justify-content(space-evenly);
}

@mixin justify-content-space-around {
    @include justify-content(space-around);
    -webkit-box-pack: distribute;
    -ms-flex-pack: distribute;
}

@mixin justify-content-space-between {
    @include justify-content(space-between);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}

@mixin justify-content-flex-start {
    @include justify-content(flex-start);
    -webkit-box-pack: start;
}

@mixin justify-content-flex-end {
    @include justify-content(flex-end);
    -webkit-box-pack: end;
}

@mixin justify-content($v) {
    -webkit-box-pack: $v;
	-webkit-justify-content: $v;
    -ms-flex-pack: $v;
	-moz-box-pack: $v;
    justify-content: $v;
}

@mixin flex-direction-row {
    -webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

@mixin flex-direction-column {
    -webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

@mixin flex-direction-row-reverse {
	-webkit-box-direction: reverse;
	-moz-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

@mixin flex-wrap-wrap {
    @include flex-wrap(wrap);
}

@mixin flex-wrap($v) {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

@mixin transition-none {
    -webkit-transition: none;
		-o-transition: none;
			transition: none;
}

@mixin transition($attr, $sec, $ease) {
	-webkit-transition: $attr $sec $ease;
		-o-transition: $attr $sec $ease;
			transition: $attr $sec $ease;
}

@mixin transition-all {
	@include transition(all, .3s, ease);
}

@mixin transform($v) {
    -webkit-transform: $v;
    -ms-transform: $v;
    transform: $v;
}

@mixin transform-origin($v) {
    -webkit-transform-origin: $v;
    -ms-transform-origin: $v;
    transform-origin: $v;
}

@mixin flex($v) {
    -webkit-flex: $v;
    -webkit-box-flex: $v;
    -webkit-flex: $v;
	-moz-box-flex: $v;
    -ms-flex: $v;
    flex: $v;
}

@mixin clip-path($v) {
    -webkit-clip-path: $v;
    clip-path: $v;
}